:root { 
--gray_900_bf:#070030bf; 
--gray_901:#0c0031; 
--gray_900_66:#06002f66; 
--bluegray_300:#9aaeb9; 
--gray_900_dd:#06002fdd; 
--gray_900:#0f0743; 
--gray_900_60:#0e064360; 
--bluegray_100:#d9d9d9; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--gray_100:#f5f5f5; 
--gray_900_70:#06002f70; 
}