:root { 
--primary:#0A2647; 
--variant2: #144272;
--variant3: #205295;
--variant4: #2C74B3;
--primary_transparent:#0A264766; 
--secondary:#9aaeb9; 
--primary_text:#ffffff; 
--gray:#636e74; 
--primary_light : #82AAE3;
--variant2_light: #91D8E4;
--variant3_light: #BFEAF5;
--variant4_light: #EAFDFC;
--primary_transparent_light:#82AAE366; 
--secondary_light:#0071ae; 
--primary_text_light:#000000; 
--gray_light:#a9bfc7; 

}

/*:root { 
    --primary: "0A2647"
    --gray_900_bf:#65647Cbf; 
    --gray_901:#65647C; 
    --gray_900_66:#65647C66; 
    --bluegray_300:#8B7E74; 
    --gray_900_dd:#65647Cdd; 
    --gray_900:#65647C; 
    --gray_900_60:#0e064360; 
    --bluegray_100:#716760; 
    --black_900_19:#65647C19; 
    --white_A700:#C7BCA1; 
    --gray_100:#F1D3B3; 
    --gray_900_70:#65647C70; 
    }*/